/*头部区域样式*/
@import 'base';
.wrapper {
  border-bottom: 1px solid #ececec;
  zoom: 1;
  min-width: 1000px;
  min-height: 1000px;
}

.header {
  width: 1010px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  height: 60px;
  line-height: 60px;
}

.hd_logo {
  position: absolute;
  left: 0;
}

.hd_nav {
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 170px;
  li {
    position: relative;
    font-size: 14px;
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
    height: 60px;
    float: left;
    a {
      display: block;
      line-height: 32px;
      font-size: 12px;
      color: $color-black;
    }
  }
}

/*菜单右侧的带动画效果的小三角,由正方形旋转135°*/
.right-arrow {
  width: 8px;
  height: 8px;
  border-top: 1px solid #c1c1c1;
  border-left: 1px solid #c1c1c1;
  display: inline-block;
  transform: rotate(-135deg);
  transform-origin: 4px 4px;
  margin-left: 5px;
}

/*动画效果,旋转加变色*/

.header .hd_nav li:hover i.right-arrow {
  margin-bottom: -2px;
  border-top: 1px solid $color-green;
  border-left: 1px solid $color-green;
  transform: rotate(45deg);
  animation: rotate 1s ease normal;
}

@keyframes rotate {
  0% {
    margin-bottom: 2px;
    transform: rotate(-135deg);

  }
  10% {
    margin-bottom: -2px;
  }
  100% {
    transform: rotate(45deg);
  }
}

.header .hd_nav a:hover {
  color: $color-green;
}

/*end 动画效果*/

/*弹出菜单的图标定义*/
.schools {}
/*其中职业学院的web-icon和android-icon和会员课程的6个图标在allicon.png中*/

.menulist .kck-icon,
.menulist .zyljt-icon,
.menulist .zstxt-icon,
.menulist .xlkc-icon,
.menulist .kcbq-icon,
.menulist .vip-icon,
.menulist .tenical-icon,
.menulist .wiki-icon,
.menulist .community-icon,
.menulist .resource-icon,
.schools .web-icon,
.schools .android-icon {
  background: url("../img/allicon.png") 0 0 no-repeat;
  background-size: 64px 64px;
  background-position: 0px 0px;
  width: 14px;
  height: 14px;
  display: inline-block;
  font-size: 12px;
  /*padding-right: 10px; 不能用padding,会把右边的图标显示出来*/
  margin-right: 10px!important;
}

.schools {
    .web-icon {
    background-position: -15px -27px;
  }

   .android-icon {
    background-position: -45px -14px;
  }
}
/*end*/


/*另外4个图标在allicon4.png*/
.schools .python-icon,
.schools .go-icon,
.schools .ios-icon,
.schools .wechat-icon {
  background: url("../img/allicon4.png") 0 0 no-repeat;
  background-position: 0px 0px;
  background-size: 16px 148px;
  display: inline-block;
  width: 14px;
  height: 14px;
  padding-right: 10px;
}

.schools{
  i{
    .python-icon {
      background-position: -2px -2px;
    }
    .go-icon {
      background-position: -2px -38px;
    }
    .ios-icon {
      background-position: -2px -82px;
    }
    .wechat-icon {
      background-position: -2px -60px;
    }
  }
}

.menulist{
  display: none;
  position: absolute;
  z-index: 1000;
  top: 60px;
  left: 0;
  background: $color-white;
  font-size: 12px;
  color: #666;
  width: 280px;
  border-top: 1px solid $color-lightgray;
  /*会员课程6个图标*/
  .kck-icon {
    background-position: 0px -12px;
  }

  .zyljt-icon {
    background-position: -45px 2px;
  }

  .zstxt-icon {
    background-position: -30px -12px;
  }

   .xlkc-icon {
    background-position: -45px -26px;
  }

   .kcbq-icon {
    background-position: -14px -12px;
  }

   .vip-icon {
    background-position: -14px 0px;
  }
  /*极客社群的4个图标*/
   .tenical-icon {
    background-position: -28px 0px;
  }

   .wiki-icon {
    background-position: -28px -26px;
  }

   .community-icon {
    background-position: 0px 2px;
  }

   .resource-icon {
    background-position: -28px 0px;
  }

   span {
    position: absolute;
    right: 20px;
  }

   h3 {
    margin: 10px 0;
    padding: 0 15px;
    background: #fafafa;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
  }

  a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
  }
  /*end*/
}

.header .hd_nav li:hover .menulist {
  display: block;
}



/*
会员课程
*/


.community,
.vip-course {
  padding-top: 10px;
  padding-bottom: 10px;
  a {
    color: #666;
    height: 35px;
    line-height: 35px;
    display: block;
    &:hover {
      background: $color-lightgray;
    }
  }
}

/*头部右侧的三个图标*/

@mixin base-app-icon{
  background-size: 17px;
  background-position: 0, 0;
}

.right-box {
  width: 200px;
  height: 60px;
  float: right;
  text-align: right;
  margin-right: 20px;
  span {
    height: 60px;
    width: 17px;
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
  }


  .app-icon {
    background: url("../img/app-icon.png") 0 0 no-repeat;
    @include base-app-icon;
  }

  .app-icon:hover {
    background: url("../img/app-icon2.png") 0 0 no-repeat;
    @include base-app-icon;
  }

 .login-icon {
    background: url("../img/login-icon.png") 0 0 no-repeat;
    @include base-app-icon;
  }

}

.header .search-icon:hover {
  background: url("../img/search-icon2.png") 0 0 no-repeat;
  background-size: 17px 17px;
  background-position: 0, 0;
}


/*end 头部右侧的三个图标*/


/*菜单在光标移过时弹出*/

.show-menubox:hover .menubox {
  display: block;
}


/*弹出菜单顶部小三角的样式*/

.up_arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  position: absolute;
  top: -8px;
  right: 60px;
  width: 15px;
  height: 15px;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
  display: inline-block;
  background: #fff;
}

.right-box .app-icon .menubox .up_arrow img {
  width: 100%;
}


/*弹出菜单样式*/

.show-menubox .menubox {
  display: none;
  padding-bottom: 20px;
  background: #fff;
  position: absolute;
  width: 120px;
  top: 60px;
  right: 2px;
  height: 165px;
  border-top: 1px solid #ececec;
  z-index: 1000;
  dd {
    text-align: left;
    font-size: 12px;
    line-height: 35px;
    vertical-align: middle;
    margin: 0;
    padding-left: 10px;
    a {
      color: #666;
      height: 35px;
      line-height: 35px;
      display: block;
      &:hover {
        background: #f5f5f5;
        color: #35b558;
      }
    }

    &:hover {
      background: #f5f5f5;
    }
  }
}


.show-menubox .menubox dd a.reg-btn,
.show-menubox .menubox dd a.login-btn {
  width: 40%;
  height: 35px;
  line-height: 35px;
  /*padding: 0 10px;*/
  display: inline-block;
  text-align: center;
  :hover {
    background: none;
  }
}

.login-icon .menubox {
  padding-top: 10px;
}


/*最后一个图标弹弹出菜单顶部的小三角位置定义*/

.login-icon .menubox .up_arrow {
  right: 10px;
}


/*最后一个图标弹出菜单中的菜单项*/

.header .right-box .show-menubox .menubox dd i {
  background: url(../img/allicon2.png) 0 0 no-repeat;
  background-size: 64px 64px;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  display: inline-block;
}


/*最后一个图标弹出菜单中的四个小图标*/

.learning-center-icon {
  background-position: -16px -15px!important;
}

.homepage-icon {
  background-position: -45px 0px!important;
}

.msg-center-icon {
  background-position: -16px -30px!important;
}

.acount-icon {
  background-position: -30px 0px!important;
}


/*搜索框*/

.header .searchbox {
  /*transform: scale(0.1,1);
  transform-origin: right center;*/
  opacity: 0;
  display: none;
  height: 59px;
  line-height: 59px;
  width: 850px;
  background: #fff;
  position: absolute;
  z-index: 11000;
  top: 0;
  right: 0;
  white-space: normal;
  .close-icon {
    width: 15px;
    height: 15px;
    margin-top: 22px;
    cursor: pointer;
    background: url(../img/close-icon.png) 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    z-index: 1200;
  }

  input {
    width: 400px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    font-size: 12px;
    vertical-align: top;
    margin-left: 10px;
  }

  .tagbox {
    width: 300px;
    text-align: right;
    display: inline;
    margin-right: 50px;
    float: right;
    a {
      font-size: 12px;
      color: #808080;
      background: #f5f5f5;
      padding: 3px 5px;
      margin-left: 10px;
    }
  }
}


.header .search-icon {
  background: url(../img/search-icon.png) 0 0 no-repeat;
  background-size: 17px 17px;
  background-position: 0, 0;
  height: 60px;
  width: 17px;
  display: inline-block;
}


#web_search_header {
  border: none;
  outline: none;
}


/*头部区域 end*/
