/*µ¯³öÌìÆø*/

.mod-setweather {
    position: absolute;
    top: 32px;
    left: 0;
    width: 585px;
    z-index: 500;
    display: none;
}

.mod-setweather.hide {
    display: none;
}

.weather-setting-content {
    position: relative;
    width: 585px;
    background: #fff;
    border: 1px solid #e3e3e3;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.072);
    -moz-box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.072);
    -webkit-box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.072);
}

.weather-wrapper-top {
    float: left;
    width: 160px;
    height: 237px;
}

.weather-wrapper {
    width: auto;
    height: auto;
}

.hide-warning .weather-setting-content,
.show-setting .weather-setting-content {
    height: 201px;
}

.mod-setweather .warn-mod {
    height: 37px;
    width: 100%;
    background: #f2f2f2;
    line-height: 37px;
}

.hide-warning .warn-mod,
.hide-warning .warn-icon-link {
    display: none;
}

.mod-setweather .warn-img-bg {
    float: left;
    width: 53px;
    height: 100%;
}

.mod-setweather .warn-title {
    float: left;
    line-height: 37px;
    margin-left: 11px;
    font-size: 12px;
    color: #333;
    text-align: left;
}

.mod-setweather .lunar-mod {
    height: 40px;
    width: 547px;
    margin: 0 19px;
    border-bottom: #efefef 1px solid;
}

.mod-setweather .lunar-mod span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 12px;
    float: left;
}

.mod-setweather .lunar-calendar {
    color: #666;
}

.mod-setweather .lunar-chn-calendar {
    color: #999;
    margin-left: 6px;
}

.mod-setweather .coming-sevenday {
    margin-left: 18px;
}

.mod-setweather .coming a {
    color: #0079f4;
}

.mod-setweather a {
    outline: none;
    text-decoration: none;
}

.mod-setweather .lunar-mod .lunar-setting-btn {
    float: right;
    color: #666;
    width: 40px;
    cursor: pointer;
    text-align: right;
    line-height: 40px;
    background: url(../img/icons1.png) no-repeat -36px -88px;
}

.everyday-weather .everyday-item {
    float: left;
    width: 105px;
    overflow: hidden;
}

.everyday-weather .today {
    width: 161px;
}

.mod-setweather .everyday-item.today p {
    font-weight: bold;
}

.everyday-item a:hover>p {
    color: #0079f4;
}

.coming-sevenday a:hover {
    text-decoration: underline;
}

.mod-setweather .everyday-item p {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
    font-size: 12px;
}

.mod-setweather .everyday-title {
    height: 34px;
    line-height: 34px;
    width: 100%;
}

.mod-setweather .everyday-icon {
    width: 48px;
    height: 48px;
    margin: 0 auto 4px;
    border: none;
}

.mod-setweather .everyday-temp,
.mod-setweather .everyday-condition,
.mod-setweather .everyday-wind {
    height: 18px;
    line-height: 18px;
}

.weather-setting-arraw {
    position: absolute;
    top: -5px;
    left: 67px;
    height: 6px;
    width: 11px;
    background: url(../img/icons1.png) no-repeat -20px -90px;
}

.weather-setting-content .setweather-setting {
    display: none;
}

.mod-setweather .setting-city {
    height: 41px;
    line-height: 41px;
    font-size: 12px;
    color: #666;
    margin-left: 20px;
    text-align: left;
}

.mod-setweather .city-select {
    margin-left: 20px;
    text-align: left;
}

.mod-setweather .city-select select {
    width: 120px;
    margin: 0 12px 0 0;
}

.mod-setweather .setting-extreme-weather {
    margin-left: 20px;
    height: 67px;
    line-height: 67px;
    font-size: 12px;
    color: #666;
    text-align: left;
}

.mod-setweather .setting-extreme-weather input {
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -4px;
    cursor: pointer;
}

.mod-setweather .setting-extreme-weather span {
    display: inline;
    color: #aaa;
    margin-left: 10px;
    _margin-bottom: 0;
}

.mod-setweather .save-cancel {
    width: 547px;
    margin: 0 19px;
    text-align: left;
    border-top: 1px solid #efefef;
}

.mod-setweather .save-cancel a {
    display: inline-block;
    cursor: pointer;
    margin-right: 12px;
    text-align: center;
    width: 54px;
    height: 26px;
    margin-top: 17px;
    line-height: 26px;
    background: url(../img/icons1.png) no-repeat 1000px 1000px;
}

.mod-setweather .save-cancel .set-cancel {
    color: #666;
    background-position: 0 -60px;
}

.mod-setweather .save-cancel .set-save {
    background-position: 0 -30px;
    color: #fff;
}


/*
select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}*/
