/*更多产品*/

.more-menubar {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    width: 85px;
    min-height: 100px;
    border-left: 1px solid #e7e7e7;
    background-color: #f9f9f9;
    overflow: hidden;
    text-shadow: none;
}

.more-menubar.bar-top {
    display: none;
    opacity: 1;
    min-height: 600px;
}

.more-menubar .bartitle {
    color: #333;
    text-align: center;
    width: 66px;
    height: 30px;
    line-height: 34px;
    padding-bottom: 10px;
    margin: 0 auto;
    border-bottom: #f0f0f0 1px solid;
    font-size: 13px;
    cursor: default;
}

.more-menubar .bar-wrp-container {
    position: relative;
}

.more-menubar .bar-wrp {
    overflow: hidden;
    position: relative;
}

.more-menubar .bar-inner-wrp {
    zoom: 1;
}

.bar-inner-wrp a {
    display: block;
    text-align: center;
    width: 66px;
    height: 76px;
    margin: 0 auto;
    font-size: 12px;
    border-bottom: #f0f0f0 1px solid;
    color: #666;
    text-decoration: none;
    overflow: hidden;
    text-shadow: none;
    line-height: 14px;
}

.bar-inner-wrp a img {
    display: block;
    height: 36px;
    width: auto;
    margin: 10px auto 5px;
    cursor: pointer;
}

.allpro {
    margin-top: 15px;
    height: 30px;
    width: 85px;
    overflow: hidden;
}
